
*{

  padding: 0;
  margin: 0;
}

body{

  height: 90vh;
  font-family: 'Dejavu Sans',Arial, Helvetica, sans-serif;
  background-color: firebrick;
} 

main{

  height: 60%;
  
}

article{

  padding: 2%;
  height: 100%;
  margin: 2em;
  border: 2px solid black;
  border-radius: 10px;
  background-color: beige;
}

article h1{

  margin-bottom: 1em;
}

.imageContainer,.textContainer{

  display: flex;
  width: 50%;
  height: 90%;
  float: left;
}

.imageContainer{

  justify-content: center;
  align-items: center;
  background-color: firebrick;
  border-radius: 10px;
}

.imageContainer img{

  display: flex;
  width: 80%;
  max-width: 400px;
}

.textContainer{

  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.textContainer p{
  
  margin-top: 2%;
  width: 80%;
  overflow: auto;
}

.icon{

  width: 2em;
  height: 2em;
}

.iconLink, .icon{

  position: relative;
  align-self: flex-end;
  margin-left: 1em;
}

.italic{

  font-style: italic;
}

.superindex{

  vertical-align: super;
  font-size:1rem;
}