
*{

  padding: 0;
  margin: 0;
}

body{

  height: 100vh;
  font-family: 'Dejavu Sans',Arial, Helvetica, sans-serif;
} 

main{

  height: 60%;
}

article{

  padding: 2%;
  height: 100%;
  margin: 2em;
  border: 2px solid black;
  border-radius: 10px;
}

article h1{

  margin-bottom: 1em;
}

.imageContainer,.textContainer{

  display: flex;
  width: 50%;
  height: 90%;
  float: left;
}

.imageContainer{

  justify-content: center;
  align-items: center;
}

.imageContainer img{

  display: flex;
  width: 80%;
}

.textContainer{

  align-items: center;
  justify-content: center;
}

.textContainer p{

  width: 80%;
}

.icon{

  width: 2em;
  height: 2em;
}

.iconLink, .icon{

  position: relative;
  align-self: flex-end;
  margin-left: 1em;
}