
*{

  padding: 0;
  margin: 0;
}

body{

  height: 90vh;
  font-family: 'Dejavu Sans',Arial, Helvetica, sans-serif;
  background-color: firebrick;
} 

main{

  height: 60%;
}

article{

  padding: 2%;
  margin: 2em;
  border: 2px solid black;
  border-radius: 10px;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.articleHeader h1{

  padding-bottom: 1em;
}

.articleMainSection{

  display: flex;
  flex-direction: row;
  
}



.imageContainer,.textContainer{

  display: flex;
  flex-direction: column;
  width: 50%;
}

.imageContainer{

  justify-content: center;
  align-items: center;
  background-color: firebrick;
  border-radius: 10px;

}

.imageContainer a{

  width: 80%;
  align-self: center;
  justify-self: center;
  padding: 0.5em;
}

.articleImage{

  width: 100%;
  align-self: center;
  justify-self: center;
}

.textContainer{

  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
}

.textContainer p{
  
  padding: 1em;
  padding-bottom:0;
  
}

.iconLink{

  align-self: flex-end;
}

.icon{

  width: 2em;
  height: 2em;
  display: block;
  background-image: url('../images/iconYoutube32.png');
}

.italic{

  font-style: italic;
}

.superindex{

  vertical-align: super;
  font-size:1rem;
}

@media screen and (max-width:800px) {
  .articleMainSection{

    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .imageContainer,.textContainer{

    display: flex;
    flex-direction: column;
    width: 100%;
  }
}